<!-- <!DOCTYPE html>
<link href="apply-form.component.css" type="text/css" rel="stylesheet">
<body>
<div class="apply-form-div">
  <h2>Fill the form to auto-download new version of VN- Video Editor App</h2>
  <form [formGroup]="infoForm" class="apply_form">
    <label for="name">Name</label>
    <input  formControlName="name" id="name" type="text" placeholder="Enter your name"  >
    <label for="surname" >Surname</label>
    <input formControlName="surname" id="surname" type="text"  placeholder="Enter your surname" >
    <label for="apple_id" >Apple ID</label>
    <input formControlName="appleId" id="apple_id" type="text"  placeholder="example@icloud.com" >
    <label for="imei" >Phone IMEI</label>
    <input formControlName="imei" id="imei" class="imei_input" type="text"
           placeholder="359206074614454(15 decimal digits)" >
    <label class="imei_tint" for="imei_tint" >Hint:Settings->General->About</label>
    <label for="vn_version" >Your VN - Video Editor app's version</label>
    <input formControlName="version" id="vn_version" type="text"  placeholder="1.27" >
    <button (click)="sendData()" [disabled]="!infoForm.valid" type="submit">Send</button>
  </form>
</div>


</body> -->
